extends layout

block content
  .container
    .starter-template
      
      h1 Nepal Stock Today's Price #{title}

      p.lead.
        #{new Date()}          

      table.table.table-hover
        thead
          tr
            th #
            th Traded Companies
            th No. Of Transactions
            th Max Price
            th Min Price
            th Closing Price
            th Traded Shares
            th Amount
            th Previous Closing
            th Difference Rs.
            th
        tbody
          each val,index in todaysPriceData
            - var difference = val['Difference Rs.']
            tr
                th(scope='row')= index+1
                td= val['Traded Companies']
                td= val['No. Of Transactions']
                td= val['Max Price']
                td= val['Min Price']
                td= val['Closing Price']
                td= val['Traded Shares']
                td= val['Amount']
                td= val['Previous Closing']
                td= difference 
                td
                    if difference>0
                      span.class.glyphicon.glyphicon-menu-up
                    else
                      span.class.glyphicon.glyphicon-menu-down